<div class="container">
  <header class="top-bar">
    <a [routerLink]="['/dashboard-paciente']" class="top-link">
      <i class='bx bx-arrow-back'></i> Volver al inicio
    </a>
    <a [routerLink]="['/home']" class="top-link logout">
      <i class='bx bx-log-out'></i> Cerrar sesión
    </a>
  </header>

    <div class="form-wrapper">
        <form (ngSubmit)="onSubmit()">
            <h3><i class='bx bx-key'></i> Credenciales de cuenta</h3>

            <div class="form-row">
              <div class="form-group">
                  <label>Nueva contraseña</label>
                  <input type="password" placeholder="Ingrese nueva contraseña" />
              </div>
              <div class="form-group">
                  <label>Confirmar contraseña</label>
                  <input type="password" placeholder="Repita la contraseña" />
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                  <label>Pregunta de seguridad</label>
                  <select>
                    <option disabled selected>Seleccione una pregunta...</option>
                    <option>¿Cuál es tu comida favorita?</option>
                    <option>¿Nombre de tu primera mascota?</option>
                    <option>¿Ciudad de nacimiento?</option>
                  </select>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                  <label>Respuesta</label>
                  <input type="text" placeholder="Ingrese su respuesta" />
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                  <label>Correo de recuperación</label>
                  <input type="email" placeholder="Ingrese un correo de recuperación" />
              </div>
            </div>

            <div class="form-actions">
              <button type="button" class="btn btn-cancel">Cancelar</button>
              <button type="submit" class="btn btn-save">
                  <i class='bx bx-save'></i> Guardar cambios
              </button>
            </div>
        </form>
    </div>


  <footer class="footer">
    © 2025 Salud Total Bolivia
    <div class="icons">
      <i class='bx bxl-instagram'></i>
      <i class='bx bxl-facebook'></i>
      <i class='bx bx-help-circle'></i>
    </div>
  </footer>
</div>
