<header class="header">
  <div class="logo">
    <img src="assets/images/logos/logo-uno.png" alt="Logo de prueba funcional">
    Salud Total Bolivia
  </div>
  <nav class="nav">
     <a href="#" (click)="irAInicio($event)">Inicio</a>
    <a href="#" (click)="irAServicios($event)">Servicios</a>
    <a href="#" (click)="irADoctores($event)">Doctores</a>
    <a [routerLink]="['/login']">Citas</a>
    <a href="#" (click)="irAContacto($event)">Contacto</a>
    <a class="login-btn" routerLink="/login">Iniciar sesión</a>
  </nav>
</header>

<section class="hero" id="inicio">
  <div class="hero-text">
    <h1>Gestiona tus citas médicas de forma fácil y rápida</h1>
    <p>Plataforma diseñada para hospitales, médicos y pacientes. Agenda, consulta y organiza tus citas médicas desde un solo lugar.</p>
    <div class="hero-buttons">
      <button class="btn-black" [routerLink]="['/login']">Iniciar sesión</button>
      <button class="btn-white" [routerLink]="['/registro']">Registrarse</button>
    </div>
  </div>
  <div class="hero-image">
    <img src="assets/images/home/hospital.jpg" alt="El frente de un hospital">
  </div>
</section>
<section class="services">
  <h2 id="servicios" >Nuestros Servicios</h2>
  <div class="service-cards">
    <div class="card">
      <i class='bx bx-heart' style="color: #6200ee;"></i>
      <h3>Cardiología</h3>
      <p>Contamos con especialistas en salud cardiovascular y tecnología avanzada para cuidar tu corazón.</p>
    </div>
    <div class="card">
      <i class='bx bx-brain' style="color: #6200ee;"></i>
      <h3>Neurología</h3>
      <p>Diagnóstico y tratamiento de enfermedades del sistema nervioso con un enfoque humano.</p>
    </div>
    <div class="card">
      <span class="material-symbols-outlined">stethoscope</span>
      <h3>Atención primaria</h3>
      <p>Atención médica general para toda la familia, desde chequeos preventivos hasta tratamientos básicos.</p>
    </div>
  </div>
</section>

<section class="doctors">
  <h2 id="doctores">Nuestros Doctores</h2>
  <div class="doctor-cards">
    <div class="doctor">
      <div class="circle">
        <img src="assets/images/home/doctora-sarah.jpg" alt="">
      </div>
      <p><strong>Dra. Sarah Campo</strong><br>Cardióloga</p>
    </div>
    <div class="doctor">
      <div class="circle">
        <img src="assets/images/home/doctor-marcelo.jpg" alt="">
      </div>
      <p><strong>Dr. Marcelo</strong><br>Neurólogo</p>
    </div>
    <div class="doctor">
      <div class="circle">
        <img src="assets/images/home/doctora-emily.jpg" alt="">
      </div>
      <p><strong>Dra. Emily</strong><br>Pediatra</p>
    </div>
    <div class="doctor">
      <div class="circle">
        <img src="assets/images/home/doctor-james.jpg" alt="">
      </div>
      <p><strong>Dr. James</strong><br>Médico General</p>
    </div>
  </div>
</section>

<footer>
  <div class="footer-content">
    <div class="footer-section">
     <img src="assets/images/logos/logo-tres.png" alt="Logo de prueba funcional">
    </div>
    <div class="footer-section">
      <h4>Links rápidos</h4>
      <a href="#">Sobre Nosotros</a>
    </div>
    <div class="footer-section">
      <h4>Contacto</h4>
      <p>
        <a
          href="https://www.google.com/maps/search/?api=1&query=Av+Am%C3%A9rica+210,+Cochabamba"
          target="_blank"
          rel="noopener"
        >
          Av América 210, Cbba
        </a>
        <br>
        <a id="contacto" href="https://mail.google.com/mail/?view=cm&fs=1&to=fdasd@rock.com" target="_blank" rel="noopener"> SaludTotal&#64;medico.com</a>
        <br>
        <a href="tel:+59177782365">
          +591 77782365
        </a>
      </p>
    </div>
    <div class="footer-section">
      <h4>Síguenos</h4>
      <div class="socials">
        <a
          href="https://www.facebook.com/SaludTotalBolivia"
          target="_blank"
          rel="noopener"
        >
          <i class="bx bxl-facebook"></i>
        </a>
        <a
          href="https://twitter.com/SaludTotalBo"
          target="_blank"
          rel="noopener"
        >
          <i class="bx bxl-twitter"></i>
        </a>
        <a
          href="https://www.instagram.com/SaludTotalBolivia"
          target="_blank"
          rel="noopener"
        >
          <i class="bx bxl-instagram"></i>
        </a>
        <a
          href="https://www.linkedin.com/company/salud-total-bolivia"
          target="_blank"
          rel="noopener"
        >
          <i class="bx bxl-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
</footer>