header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #fff; 
    color: #1f1f1f;

    padding: 1% 2.5%;
    border-bottom: 1px solid #e5e5e5;

    max-width: 100vw;
  }
  
  @media screen and (max-width: 480px){
    header {
      flex-direction: column;
      height: 17vh;
    }
  }

  .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-basis: 19%;
  }
  
  .photo {
    width: 50px;
    height: 50px;

    background-color: #ddd;
    border-radius: 50%;
  }

  .user-info .details {
    display: flex;
    flex-direction: column;
  }
  
  .user-info .details strong {
    font-size: 1rem; 
  }
  
  .user-info .details span {
    font-size: 0.8125rem; 
    color: gray;
  }

  .header-right {
    display: flex;
    flex-basis: 25%;
    
    justify-content: space-between;
    align-items: center;
    
    font-size: 0.8125rem; 
  }

  .last-access {
    font-size: 0.75rem;
    color: #888;
  }
  
  .logout-btn {
    background-color: #3b82f6;
    color: white;
    border: none;
    width: 50%;
    border-radius: 5px;
    padding: 2% 5.5%;
    cursor: pointer;
  }
  
  @media screen and (max-width: 480px){
    .user-info {
      align-self: flex-start;
    }
    .photo{
      margin-right: 5%;
    }
    .header-right{
      width: 82%;
      align-self: flex-end;
    }
  }

  main {
    padding: 2%;

    display: flex;
    flex-direction: column;

    gap: 9%;
    background-color: #f9f9f9;
    color: #1f1f1f;

    max-width: 100vw;
  }
  
  .card-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3%;
  }

  @media screen and (max-width: 480px){
    .card-grid {
      flex-direction: column;
      margin-top: 5%;
      margin-bottom: 5%;
    }
  }
  
  .dashboard-btn {
    flex-basis: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #ffffff;
    border: 1.5px solid #e5e7eb;
    border-radius: 12px;

    padding: 3%;

    text-align: center;
    font-weight: 500;

    font-size: 0.875rem; 
    gap: 30%;
    transition: all 0.2s ease;
    cursor: pointer;
    height: 13.5vh;
    border: 1px solid #3b82f6;
  }

  @media screen and (max-width: 480px){
    .dashboard-btn {
      margin-bottom: 3%;
    }
  }
  
  .dashboard-btn i {
    font-size: 1.5rem; 
    color: #1f1f1f;
  }
  
  .dashboard-btn:hover {
    background-color: #f0f9ff;
  }
  
  .section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3%;
  }
  
  @media screen and (max-width: 480px){
    .section {
      flex-direction: column;
      margin-top: 10%;
    }
    .section .card, .card-support{
      margin-bottom: 5%;
    }
    .card p{
      margin-bottom: 5%;
    }
  }

  .card, .card-support {
    flex-basis: 32.5%;

    background-color: white;
    padding: 1.5%;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
    border: 1px solid #3b82f6;
  }
  
  .card-support {
    flex-basis: 49%;
  }

  .section-title {
    font-weight: 600;
    margin-bottom: 3.5%;
    font-size: 0.9375rem; 
  }
  
  @media screen and (max-width: 480px){
    .section-title {
      margin-bottom: 6%;
    }
  }
  
  .link-pdf {
    font-size: 0.75rem; 
    padding: 1.5% 3%;
    border-radius: 6px;
    background-color: #f3f4f6;
    color: #1f1f1f;
    border: none;
    margin-right: 2.5%;
    cursor: pointer;
  }
  .link-soporte {
    font-size: 0.75rem; 
    padding: 1.5% 3%;
    border-radius: 6px;
    background-color: #f3f4f6;
    color: #1f1f1f;
    border: none;
    margin-right: 2.5%;
    cursor: pointer;
  }

  .link-pdf:hover {
    background-color: #e5e7eb;
  }
  .link-soporte:hover{
    background-color: #e5e7eb;
  }
  
  .cita {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #f9f9f9;
    padding: 2% 3%;
    border-radius: 6px;
    font-size: 0.875rem; 
    margin-bottom: 2%;
  }
  
  .alert {
    background-color: #fef3c7;
    padding: 2%;
    margin-bottom: 2%;
    border-left: 4px solid #facc15;
    border-radius: 6px;
    font-size: 0.875rem; 
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;
  }
  
   .card p small {
    color: #888;
    font-size: 0.75rem; 
  }

  .link-pdf {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    gap: 1.5%;
    margin-bottom: 2%;
    font-size: 0.875rem; 
  }

  .badge {
    display: inline-block;
    font-size: 0.6875rem; 
    padding: 2px 8px;
    border-radius: 6px;
    margin-left: 8px;
    font-weight: 500;
  }
  
  .confirmado {
    background-color: #d1fae5;
    color: #065f46;
  }
  
  .cancelado {
    background-color: #fee2e2;
    color: #991b1b;
  }
/*  

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #fff; 
    color: #1f1f1f;

    padding: 1% 2.5%;
    border-bottom: 1px solid #e5e5e5;

    max-width: 100vw;
  }
  
  @media screen and (max-width: 480px){
    header {
      flex-direction: column;
      height: 17vh;
    }
  }

  .user-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 20.5%;
  }
  
  .photo {
    width: 50px;
    height: 50px;

    background-color: #ddd;
    border-radius: 50%;
  }

  .user-info .details {
    display: flex;
    flex-direction: column;
  }
  
  .user-info .details strong {
    font-size: 1rem; 
  }
  
  .user-info .details span {
    font-size: 0.8125rem; 
    color: gray;
  }

  .header-right {
    display: flex;
    flex-basis: 19%;
    
    justify-content: space-between;
    align-items: center;
    
    font-size: 0.8125rem; 
  }

  .last-access {
    font-size: 0.75rem;
    color: #888;
  }
  
  .logout-btn {
    background-color: #1c1c1c;
    color: white;
    border: none;
    
    border-radius: 5px;
    padding: 3.5% 5.5%;
    cursor: pointer;
  }
  
  @media screen and (max-width: 480px){
    .user-info {
      align-self: flex-start;
    }
    .photo{
      margin-right: 5%;
    }
    .header-right{
      width: 82%;
      align-self: flex-end;
    }
  }

  main {
    padding: 2%;

    display: flex;
    flex-direction: column;

    gap: 9%;
    background-color: #f9f9f9;
    color: #1f1f1f;

    max-width: 100vw;
  }
  
  .card-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3%;
  }

  @media screen and (max-width: 480px){
    .card-grid {
      flex-direction: column;
      margin-top: 5%;
      margin-bottom: 5%;
    }
  }
  
  .dashboard-btn {
    flex-basis: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #ffffff;
    border: 1.5px solid #e5e7eb;
    border-radius: 12px;

    padding: 3%;

    text-align: center;
    font-weight: 500;

    font-size: 0.875rem; 
    gap: 30%;
    transition: all 0.2s ease;
    cursor: pointer;
    height: 13.5vh;
  }

  @media screen and (max-width: 480px){
    .dashboard-btn {
      margin-bottom: 3%;
    }
  }
  
  .dashboard-btn i {
    font-size: 1.5rem; 
    color: #1f1f1f;
  }
  
  .dashboard-btn:hover {
    border-color: #3b82f6;
    background-color: #f0f9ff;
  }
  
  .section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3%;
  }
  
  @media screen and (max-width: 480px){
    .section {
      flex-direction: column;
      margin-top: 10%;
    }
    .section .card, .card-support{
      margin-bottom: 5%;
    }
    .card p{
      margin-bottom: 5%;
    }
  }

  .card, .card-support {
    flex-basis: 32.5%;

    background-color: white;
    padding: 1.5%;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
  }
  
  .card-support {
    flex-basis: 49%;
  }

  .section-title {
    font-weight: 600;
    margin-bottom: 3.5%;
    font-size: 0.9375rem; 
  }
  
  @media screen and (max-width: 480px){
    .section-title {
      margin-bottom: 6%;
    }
  }
  
  .link-pdf {
    font-size: 0.75rem; 
    padding: 1.5% 3%;
    border-radius: 6px;
    background-color: #f3f4f6;
    color: #1f1f1f;
    border: none;
    margin-right: 2.5%;
    cursor: pointer;
  }
  .link-soporte {
    font-size: 0.75rem; 
    padding: 1.5% 3%;
    border-radius: 6px;
    background-color: #f3f4f6;
    color: #1f1f1f;
    border: none;
    margin-right: 2.5%;
    cursor: pointer;
  }

  .link-pdf:hover {
    background-color: #e5e7eb;
  }
  .link-soporte:hover{
    background-color: #e5e7eb;
  }
  
  .cita {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #f9f9f9;
    padding: 2% 3%;
    border-radius: 6px;
    font-size: 0.875rem; 
    margin-bottom: 2%;
  }
  
  .alert {
    background-color: #fef3c7;
    padding: 2%;
    margin-bottom: 2%;
    border-left: 4px solid #facc15;
    border-radius: 6px;
    font-size: 0.875rem; 
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;
  }
  
   .card p small {
    color: #888;
    font-size: 0.75rem; 
  }

  .link-pdf {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    gap: 1.5%;
    margin-bottom: 2%;
    font-size: 0.875rem; 
  }

  .badge {
    display: inline-block;
    font-size: 0.6875rem; 
    padding: 2px 8px;
    border-radius: 6px;
    margin-left: 8px;
    font-weight: 500;
  }
  
  .confirmado {
    background-color: #d1fae5;
    color: #065f46;
  }
  
  .cancelado {
    background-color: #fee2e2;
    color: #991b1b;
  }
  */
