<div class="container">
  <header class="top-bar">
    <a [routerLink]="['/home']" class="top-link">
      <i class='bx bx-arrow-back'></i> Volver al inicio
    </a>
    <a [routerLink]="['/home']" class="top-link logout">
      <i class='bx bx-log-out'></i> Cerrar sesión
    </a>
  </header>

    <div class="form-wrapper">
        <form (ngSubmit)="onSubmit()">
            <h3>
            <i class='bx bx-lock-alt'></i> Método de autenticación
            </h3>

            <div class="form-row">
            <!-- Columna izquierda -->
            <div class="form-group">
                <label>Seleccione un método:</label>
                <label><input type="radio" name="metodo" checked> Contraseña</label>
                <label><input type="radio" name="metodo"> Doble factor (2FA)</label>
                <label><input type="radio" name="metodo"> Biométrico (si es compatible)</label>
            </div>

            <!-- Columna derecha -->
            <div class="form-group">
                <label>Acceso temporal:</label>
                <label><input type="checkbox"> Activar códigos temporales<br>(para menores o cuentas compartidas)</label>
            </div>
            </div>

            <div class="form-actions">
            <button type="button" class="btn btn-cancel">Cancelar</button>
            <button type="submit" class="btn btn-save">
                <i class='bx bx-save'></i> Guardar cambios
            </button>
            </div>
        </form>
    </div>


  <footer class="footer">
    © 2025 Salud Total Bolivia
    <div class="icons">
      <i class='bx bxl-instagram'></i>
      <i class='bx bxl-facebook'></i>
      <i class='bx bx-help-circle'></i>
    </div>
  </footer>
</div>
