<header class="header">
  <div class="logo">
    <img src="assets/images/logos/logo-uno.png" alt="Logo de prueba funcional">
    Salud Total Bolivia
  </div>
  <nav class="nav">
    <a routerLink="/">Inicio</a>
    <a href="#">Servicio</a>
    <a href="#">Doctores</a>
    <a href="#">Citas</a>
    <a href="#">Contacto</a>

    <div class="dropdown">
      <button class="dropbtn">Iniciar sesión</button>
      <div class="dropdown-content">
        <a [routerLink]="['/login-paciente']">Paciente</a>
        <a [routerLink]="['/login-doctor']">Doctor</a>
        <a [routerLink]="['/login-administrador']">Administrador</a>
      </div>
    </div>
  </nav>
  <nav class="nav-mini">
    <a href="#">Citas</a>
    <div class="dropdown">
      <button class="dropbtn">Iniciar sesión</button>
      <div class="dropdown-content">
        <a [routerLink]="['/login-paciente']">Paciente</a>
        <a [routerLink]="['/login-doctor']">Doctor</a>
        <a [routerLink]="['/login-administrador']">Administrador</a>
      </div>
    </div>
  </nav>
</header>

<section class="hero">
  <div class="hero-text">
    <h1>Gestiona tus citas médicas de forma fácil y rápida</h1>
    <p>Plataforma diseñada para hospitales, médicos y pacientes. Agenda, consulta y organiza tus citas médicas desde un solo lugar.</p>
    <div class="hero-buttons">
      <button class="btn-black" [routerLink]="['/Paciente']">Iniciar sesión</button>
      <button class="btn-white" [routerLink]="['/registro']">Registrarse</button>
    </div>
  </div>
  <div class="hero-image">
    <img src="assets/images/home/hospital.jpg" alt="">
  </div>
</section>

<section class="services">
  <h2>Nuestros Servicios</h2>
  <div class="service-cards">
    <div class="card">
      <i class='bx bx-heart' style="color: #6200ee;"></i>
      <h3>Cardiología</h3>
      <p>Contamos con especialistas en salud cardiovascular y tecnología avanzada para cuidar tu corazón.</p>
    </div>
    <div class="card">
      <i class='bx bx-brain' style="color: #6200ee;"></i>
      <h3>Neurología</h3>
      <p>Diagnóstico y tratamiento de enfermedades del sistema nervioso con un enfoque humano.</p>
    </div>
    <div class="card">
      <span class="material-symbols-outlined">stethoscope</span>
      <h3>Atención primaria</h3>
      <p>Atención médica general para toda la familia, desde chequeos preventivos hasta tratamientos básicos.</p>
    </div>
  </div>
</section>

<section class="doctors">
  <h2>Nuestros Doctores</h2>
  <div class="doctor-cards">
    <div class="doctor">
      <div class="circle">
        <img src="assets/images/home/doctora-sarah.jpg" alt="">
      </div>
      <p><strong>Dra. Sarah Campo</strong><br>Cardióloga</p>
    </div>
    <div class="doctor">
      <div class="circle">
        <img src="assets/images/home/doctor-marcelo.jpg" alt="">
      </div>
      <p><strong>Dr. Marcelo</strong><br>Neurólogo</p>
    </div>
    <div class="doctor">
      <div class="circle">
        <img src="assets/images/home/doctora-emily.jpg" alt="">
      </div>
      <p><strong>Dra. Emily</strong><br>Pediatra</p>
    </div>
    <div class="doctor">
      <div class="circle">
        <img src="assets/images/home/doctor-james.jpg" alt="">
      </div>
      <p><strong>Dr. James</strong><br>Médico General</p>
    </div>
  </div>
</section>

<footer>
  <div class="footer-content">
    <div class="footer-section">
    <img src="assets/images/logos/logo-tres.png" alt="Logo de prueba funcional">
    </div>
    <div class="footer-section">
      <h4>Links rápidos</h4>
      <a href="#">Sobre Nosotros</a>
    </div>
    <div class="footer-section">
      <h4>Contacto</h4>
      <p>Av América 210<br>Cochabamba<br>contacto&#64;medico.com<br>77782365</p>
    </div>
    <div class="footer-section">
      <h4>Síguenos</h4>
      <div class="socials">
        <i class='bx bxl-facebook'></i>
        <i class='bx bxl-twitter'></i>
        <i class='bx bxl-instagram'></i>
        <i class='bx bxl-linkedin'></i>
      </div>
    </div>
  </div>
</footer>